<launch>
<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">
  <param name="magnetic_declination_radians" value="0.00872664626"/> 
  <param name="frequency" value="30"/>
  <param name="delay" value="3.0"/>
  <param name="yaw_offset" value="-1.57"/>
  <param name="zero_altitude" value="true"/>
  <param name="publish_filtered_gps" value="true"/>
  <param name="broadcast_utm_transform" value="true"/> 
  <param name="broadcast_cartesian_transform" value="true"/>
  <param name="wait_for_datum" value="false"/>
  <param name="use_odometry_yaw" value="false"/>
  <!-- <rosparam param="datum">[13.5896916667,80.0034666667, 0.0 ,map,base_link]</rosparam> -->
  <!-- <rosparam param="datum">[13.5896916567,80.0034666567,1.57]</rosparam> -->

    <remap from="/gps/fix" to="/navsat/fix"/>
    <remap from="/imu/data" to="/imu/data" />  
    <!-- <remap from="/odometry/filtered" to="/odometry/filtered_map"/> -->
</node>

<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps">
  <rosparam command="load" file="$(find tractor_localization)/params/gps_imu_localization.yaml" />
</node>

</launch>